.header-component {
    background: white;
    border-bottom: 1px solid #777;
    height: 40px;
    color: black;
    font-size: 20px;
    position: fixed;
    width: 100%;
    display: block;
    z-index: 2;
    -webkit-box-shadow: 5px 5px 5px #bfbfbf;
    box-shadow: 5px 5px 5px #bfbfbf;
    color: #777;
}
.header-component .logo {
    float:right;
    width:85px;
    position:relative;
    top:0px;
}